<ion-view view-title="الشاعر - Poet">
  <ion-content>
    <!-- <div class="list social-list">
      <a class="item item-text-wrap" ng-href="#/app/poets/{{item.id}}"  ng-repeat="item in items track by $index">
        <img class="animated zoomIn" src="{{item.img}}">
        <h2  ng-style="{'color': item.color}">{{item.name}}
          <span class="notify pull-right animated rubberBand" ng-style="{'background': item.color}">{{item.count}}</span>
        </h2>
        <p class="animated fadeIn" ng-bind-html="item.description"></p>
      </a>
    </div> -->

    <ion-list>
        <ion-item class="item-icon-left item-avatar-right" ng-href="#/app/poets/{{item.id}}" ng-repeat="item in items track by $index">
            <img src="img/logo.png">
            <div class="pull-right">
              <h2>{{item.name}}</h2>
              <p></p>
            </div>
            <i class="icon ion-ios-arrow-back"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
