<ion-view lang="ar" dir="rtl">
  <ion-nav-title>
    {{poem.name}}
</ion-nav-title>

  <ion-content lang="ar" dir="rtl">
    <div class="list card">
      <div class="item item-divider color">
          <h2 class="text-right">نبذة عن الشاعر </h2>
      </div>
      <div class="item" lang="ar" dir="rtl">
        <div class="pull-right">
          <h2 >اسمه : {{poet.name}}</h2>
          <p>ولد في عام :{{poet.year | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="item item-body" dir="rtl" lang="ar" style=" text-align: right;">
        <div ng-bind-html="myHTML" dir="rtl" lang="ar"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
