<ion-view view-title="Home">
  <ion-content>

    <div class="dashboard-main-container animated bounceInDown">
      <h3 id="loggedInUser">{{user.name}}</h3>
<!--       <div class="avatar-conatainer">
        <span class="badge">10Xp</span>
        <i class="badge-notify"></i>
        <img ng-src="../img/profile.jpg">
      </div>
 -->
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        
        <ion-slide>
          <div class="box box-blue">
            <h4><b>E</b>-Diwan</h4>
            <p>تعلم الشعر العربي للجميع 
            <br /><br /> Now Everyone can Learn Arabic Poetry</p>            
          </div>
        </ion-slide>

      </ion-slide-box>

    </div>

   
  <div class="row card-background-page">
    <div class="col col-50">
          <div class="card">
            <a href="#/app/poems" class="">
              <img src="img/poem.jpg" width="100%"/>
              <div class="card-title">أشعار</div>
              <div class="card-subtitle">Poetry</div>
            </a>
          </div>
    </div>
    <div class="col col-50">
          <div class="card">
            <a ng-click="openPoets(user.signedIn)" class="">
              <img src="img/poet.jpg" width="100%"/>
              <div class="card-title">شعراء  </div>
              <div class="card-subtitle">Poets</div>
            </a>
          </div>
    </div>
  </div>  
    
  <div class="row card-background-page">
    <div class="col col-50">
          <div class="card">
            <a href="#/app/lessons" class="">
              <img src="img/lesson.jpg" width="100%"/>
              <div class="card-title">الدروس </div>
              <div class="card-subtitle">Lessons</div>
            </a>
          </div>
    </div>
    <div class="col col-50">
          <div class="card">
            <a ng-click="openGlossary(user.signedIn)" class="" >
              <img src="img/glossary.jpg" width="100%"/>
              <div class="card-title">مصطلحات </div>
              <div class="card-subtitle">Glossary</div>
            </a>
          </div>
    </div>
  </div>  
  <div class="padding pull-right">
      <p>Version 0.0.11</p>
   </div>
  </ion-content>
</ion-view>
