<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login To E-Diwan</h1>
    <div class="buttons">
        <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px" ng-click="closeLogin()"></i>
    </div>
  </ion-header-bar>
  <ion-content class="backC" >

    <div class="alert alert-danger" role="alert" ng-show="error">
      {{errors}}
    </div>


    <div class="centeri">
      

      <div class="log container tab-container" ng-init="selected='login'">
          

          <div class="tab-body tab-contents">
            <form ng-submit="doLogin()" class="padding " ng-show="selected==='login'">
              <div class="list">
                <label class="item item-input">
                    <i class="icon ion-ios-email-outline"></i><pre>  </pre>
                    <input type="text" placeholder="Email"ng-model="loginData.email">
                </label>
                <hr class="style">

                <label class="item item-input">
                  <i class="icon ion-ios-locked-outline"></i><pre>  </pre>
                  <input type="password" placeholder="Password"ng-model="loginData.password">
                </label>
                <hr class="style">
                <br>
                <label class="">
                  <button class="button button-block button-energized btn" type="submit">Log in</button>

                </label>
              </div>
            </form>
            <span style="padding:20px" >Or <a ng-click="goRegister()" >Register</a></span>
           </div>
         </div>
        </div>

  </ion-content>
</ion-modal-view>
