﻿
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-power"
                id="menu-popover" ng-if="!user.signedIn" ng-click="login($event)"></button>
                <button class="button button-icon button-clear ion-log-out"
                id="menu-popover" ng-if="user.signedIn" ng-click="logout($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter"></i>
        </button> -->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded ">
            <img src="img/logo.png" class="avatar motion spin fade">
            <div class="menu-bottom">
                E-Diwan
            </div>
            <!-- <button class="button button-clear icon ion-ios-more-outline pull-right" ng-click="openProfileModal()"></button> -->
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
            <ion-item nav-clear menu-close href="#/app/home">
                    صفحة رئيسة <br />Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/poems">
                    أشعار <br /> Poetry
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/poet" ng-show="user.signedIn">
                    شعراء <br />Poet
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lessons">
                    الدروس <br />Lesson 
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/glossary" ng-show="user.signedIn">
                    مصطلحات <br />Glossary
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    الإعدادات <br />Settings
                </ion-item>

                <!--
                <ion-item nav-clear menu-close href="#/app/components">
                    Components+
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/extensions">
                    Extensions
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lists">
                    Motion Lists
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/motion">
                    Motion Elements
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ink">
                    Ink
                </ion-item> -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
