<ion-view view-title="أشعار  - Poetry" >
  <ion-content>
    <!-- <div class="list social-list">
      <a class="item item-thumbnail-left item-text-wrap" ng-href="#/app/poems/{{item.id}}"  ng-repeat="item in items track by $index">
        <img class="animated zoomIn" src="{{item.img}}">
         <h2>{{item.title}}
        <span class="notify pull-right animated rubberBand" ng-style="{'background': item.color}">{{item.count}}</span>
        </h2>
        <p class="animated fadeIn" ng-bind-html="item.description"></p>
      </a>
    </div> -->

    <ion-list >
        <ion-item class="item-icon-left item-avatar-right" ng-href="#/app/poems/{{item.id}}" ng-repeat="item in items track by $index">
            <img src="img/logo.png">
            <div class="pull-right">
              <i class="icon ion-ios-arrow-back"></i>
              <h2 class="">{{item.title}}</h2>
              <p>{{item.poet.name}}</p>
              
            </div>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
