<ion-view lang="ar" dir="rtl">
  <ion-nav-title>
    <span  lang="ar" dir="rtl" class="pull-right">{{poem.title}} </span>
  </ion-nav-title>
  <ion-content>
    <div class="card" ng-if="user.signedIn">

      <!-- <div class="item item-divider">
        <h2>{{poem.title}}</h2>
      </div>
      <div class="item">
        <span>
          <h2>{{poem.poet.name}}</h2>
          <audio id="audio-player"src="{{ENDPOINT.asset_api + poem.audio.audio.url}}" type="audio/mpeg" controls>
            Your browser does not support the audio element.
          </audio>
        </span>
        <h4>{{poem.poet.name}}</h4>
      </div> -->

      <div class="item item-divider color">
          <h2> التفاصيل</h2>
      </div>
      <div class="item item-body">

          <h2>{{poem.title}}</h2>
          <h3>الشاعر : <a href="#/app/poets/{{poem.poet.id}}"> {{poem.poet.name}}</a></h3><br>                   
      </div>
    </div>

    <div class=" card">
      <div class="item item-divider color">
          <h2>الأبيات الشعرية </h2>
      </div>
      <audio id="audio-player" ng-if="poem.audio.audio.url != null" ng-src="{{ENDPOINT.asset_api + poem.audio.audio.url | trusted}}" type="audio/mpeg" controls>
        Your browser does not support the audio element.
      </audio>
      <div class="item item-body" >
        <div class="pull-right poem-text">
          <div ng-repeat="stanza in poem.stanzas">
            <div ng-repeat="line in stanza.lines">
              <span ng-repeat="word in line.splitted_text track by $index" >
                {{word}}
                <!-- <span ng-switch="(line.word_references|filter:{ word_indexes : (('00'+ $index ).slice(-2)) }).length">
                    <span ng-switch-when="0">{{word}}</span>
                    <span ng-switch-default class="balanced" ng-click="openWordModal($index , line.id)">{{word}}</span>
                </span> -->
              </span>
              <br />
                     <br />
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
