<ion-modal-view lang="ar" dir="rtl">
    <ion-header-bar>
        <h1 class="title" >{{words[0].word}}</h1>
        <div class="buttons button-right">
            <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px"ng-click="wordModal.hide()"></i>
        </div>

    </ion-header-bar>
    <ion-content class="backC">

       <div class="tabs-striped tabs-color-assertive" style="position: static; margin-bottom: 15px;">
            <div class="tabs" style="position: static;">
                <a class="tab-item {{isActive($index) ? 'active' : '' }}"
                ng-click="changeTab($index)" data-ink-color="#ef473a"
                data-ink-opacity=".35"
                ng-repeat="title in words_title track by $index">
                    {{title.type_title}}
                </a>
            </div>

        <div class=" tab-body clrW">


            <div class="list tab-section {{isActive($index) ? 'active' : '' }}" ng-repeat="title in words_title track by $index">
              <div  class="item item-text-wrap" ng-repeat="word in words | filter:{ media_type : title.media_type }">
                <div ng-switch="word.media_type">
                    <div ng-switch-when="dictionary">

                          <div class="item item-text-wrap" style="height:500px">
                            <p class="pull-right">{{word.description}}</p>
                          </div>

                    </div>
                    <div ng-switch-when="grammar">
                        <div class="item item-text-wrap" style="height:500px">
                            <p class="pull-right">{{word.description}}</p>
                        </div>
                    </div>
                    <div ng-switch-when="image">
                        <div class="item item-text-wrap" style="height:500px">
                            <img src="{{ENDPOINT.asset_api + word.media_url}}"/>
                        </div>
                    </div>
                    <div ng-switch-when="video">
                        <div class="item item-text-wrap">
                            <img src="{{ENDPOINT.asset_api + word.media_url}}"/>
                        </div>
                    </div>

                </div>
              </div>
            </div>


          </div>
        </div>





    </ion-content>
</ion-modal-view>
