<ion-view view-title="About Us" class="back">

  <ion-nav-buttons side="primary">
    <!-- <img src='img/logo.png' class="ibflogo" > -->
    <!-- <button class="button button-clear button-icon ion-ios-search" ng-click="search()"></button> -->
    <!-- <button class="button button-clear button-icon ion-ios-settings" ng-click="setting()"></button> -->
  </ion-nav-buttons>
  <ion-content class="cards-bg">
  
  <div class="card aboutus">
    <div class="item item-divider">
      About Us
    </div>
    <div class="item item-text-wrap">
      <p>
        The program displays the speaking device of human being with the Arabic letters and phonemes distributed on it. By clicking on any word in a poem, the program will not only show all the phonetic characteristics of the word whether the characteristics are corollary temporary or original, but at the click of a button, a text appears in a square window containing all the information of that poem and the correct pronunciation in addition to showing the spectrum analysis of the poems with the ability to audio present this information using a reformed robotic voice or a recorded human voice. The program also provides the user with countless sets of interactive exercises that help to improve the information outcome and the performance skills at the same time
      </p>
      <p>

        In future the application can be translated into multi languages such as Malay and English to cater for the needs of ‘Arabic poetry enthusiast’ among non native speakers. This will ultimately widen the market of potential users and customers of the product. The comprehensive nature of this application will enable the users to conduct individual learning hence it would cultivate Life Long Learning. In addition, this application will serve as a method of knowledge and culture preservation and dissemination of the rich knowledge and civilization of Arabic poetry. This method of preservation and dissemination of knowledge solicits future generations to trace the roots and cultural origins of Arabic civilization.
        In addition to the above, the methodology applied in this application can later be adopted and adapted into the learning of poetry in other languages with similar structures, i.e. Urdhu and Persian.
      </p>
    </div>
  </div>
  <div class="card aboutus">
    <div class="item item-divider">
      Features
    </div>
    <div class="item item-text-wrap">
      <ul class="my-list">
        <li>Arabic Poem Listing </li>
        <li>Arabic Poet Listing</li>
        <li>Lesson - Learn Arabic Poem interactively </li>
        <li>Discussion with peers about the poem</li>
        <li>Poem with audio</li>
        <li>Glossary </li>        
      </ul>
    </div>
  </div>
<!-- 
  <div class="card aboutus">
    <div class="item item-divider">
      Usability
    </div>
    <div class="item item-text-wrap">
      <ul class="my-list">
      <li></li>  
      </ul>   
    </div>
  </div> -->
    
  <div class="card aboutus">
    <div class="item item-divider">
      Acknowledgement
    </div>
    <div class="item item-text-wrap">
        <p>
        E-Diwan
        </p>
        <p>
          The research team comprises of :
        </p>
        <ul class="my-list">
          <li>Prof. Rahmah Binti Ahmad bin Saad </li>
          <li>Associate Prof. Dr. Murni Binti Mahmud </li>
          <li>Associate Prof. Dr. Mohd Feham bin Ghalib</li>
          <li>Associate Prof. Dr. Ahmed Ragheb Ahmed Mahmoud</li>          
        </ul> 
        <br />
        
    </div>
  </div>
  <!-- <div class="card aboutus">
    <div class="item item-divider">
      Follow Us
    </div>
    <div class="item item-text-wrap">
        <ul class="my-list">
          <li>Twitter : twitter.com/IBFTerms</li>
          <li>Facebook : fb.com/IBFTerms</li>     
          <li>Email : ibfterms@gmail.com</li>         
        </ul>         
    </div>
  </div> -->

  <div class="card aboutus">
    <div class="item item-divider">
      Product Developer
    </div>
    <div class="item item-text-wrap">
        <p>Namelite Sdn. Bhd.</p>
    </div>
  </div>
  
  </ion-content>
</ion-view>
