<ion-view view-title="Account">
  <ion-header-bar>
    <h1 class="title">Login To E-Diwan</h1>
    <div class="buttons">
        <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px" ng-click="closeLogin()"></i>
    </div>
  </ion-header-bar>
  <ion-content class="back" >

    <div class="alert alert-danger" role="alert" ng-show="error">
      {{errors}}
    </div>


    <div class="centering ">
      <h3 class="text-center">e-Diwanushi'ir</h3>
      <p class="padding">A mobile application for learning Arabic poem</p>

      <div class="log container tab-container" ng-init="selected='register'">
            <div class="tabs tabs-dark">
                <!-- <a class="tab-item" ng-click="selected='login'">
                    <b>Login</b>
                </a> -->
                <a class="tab-item" ng-click="selected='register'">
                    <b>Register</b>
                </a>
            </div>

          <div class="tab-body tab-contents">
            <div>
              <form ng-submit="doLogin()" class="padding " ng-show="selected==='login'">
                <div class="list">
                  <label class="item item-input">
                      <i class="icon ion-ios-email-outline"></i><pre>  </pre>
                      <input type="text" placeholder="Email"ng-model="loginData.email">
                  </label>
                  <hr class="style">

                  <label class="item item-input">
                    <i class="icon ion-ios-locked-outline"></i><pre>  </pre>
                    <input type="password" placeholder="Password"ng-model="loginData.password">
                  </label>
                  <hr class="style">
                  <br>
                  <label class="item">
                    <button class="button button-block button-energized btn" type="submit">Log in</button>
                  </label>
                </div>
              </form>
            </div>
            <div>

              <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}"  class="padding " ng-show="selected==='register'">
                <div class="list">
                  <label class="item item-input">
                    <i class="icon ion-ios-email-outline"></i><pre>  </pre>
                    <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control" placeholder="Email"/>
                    
                  </label>
                  <hr class="style">

                  <label class="item item-input">
                    <i class="icon ion-ios-locked-outline"></i><pre>  </pre>
                    <input type="password" name="password" placeholder="Password" ng-model="registrationForm.password" required="required" class="form-control"/>

                  </label>
                  <hr class="style">

                  <label class="item item-input">
                    <i class="icon ion-ios-locked-outline"></i><pre>  </pre>
                    <input type="password" name="password_confirmation" placeholder="Password Confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>

                  </label>
                  <hr class="style">
                  <br>

                  <label class="item">
                    <button class="button button-block button-energized btn" type="submit">Register</button>
                  </label>
                </div>
              </form>
              </div>
           </div>
         </div>
        </div>

  </ion-content>
</ion-view>
