<ion-view view-title="Settings">


<ion-content>

  <div class="list">
<!-- 
  <div class="item item-divider color">
    Application Settings
  </div>
  <div class="item">
    Font Size
  </div>
  <div class="item range">
    <i class="icon ion-minus-circled"></i>
    <input type="range" name="fontsize" min="0" max="5" value="{{font.size}}" ng-model="font" ng-change="changeFontSize(font)">    
    <i class="icon ion-plus-circled"></i>
  </div>
   -->
  <div class="item item-divider color">
    Account
  </div>

  <a class="item item-icon-right" href="#/app/profile" ng-show="user.signedIn">
    Update Password
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  
  <a class="item item-icon-right" href="#/app/account">
    Register
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <div class="item item-divider color">
    Information
  </div>

  <a class="item item-icon-right" href="#/app/about">
    About Us
  <i class="icon ion-ios-arrow-right"></i>
  </a>
<!-- 
  <a class="item item-icon-right" href="#">
    Terms
  <i class="icon ion-ios-arrow-right"></i>
  </a> -->

</div>


</ion-content>
</ion-view>
