<ion-view view-title="Profile">
    <ion-header-bar >

      <div class="buttons button-right ">
        <button class="button button-clear button-primary" style="color:#4FA1E8"  ng-click="profileModal.hide()">Cancel</button>
      </div>


          <h2 class="title">Edit Profile</h2>



    </ion-header-bar>

    <ion-content class="backClr has-header ">

    <div class="centering ">
      <div class="userImg" style="background-image:url('img/logo.png')">  </div>
      <br><br>
      <p class="text-center usrName">{{user.name}}</p><br>
      
      <div class="list clrW">

              <form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">

                <div class="item item-icon-left " >
                  <i class="icon ion-ios-person"></i>
                    <label class="item item-input">
                      <input type="text" class="padding" placeholder="{{user.name}}" readonly="readonly">
                    </label>
                </div>
                <div class="item item-icon-left " >
                  <i class="icon ion-ios-email"></i>
                    <label class="item item-input">
                      <input type="text" class="padding" placeholder="{{user.email}}" readonly="readonly">
                    </label>
                </div>

                <div class="item item-icon-left " >
                  <i class="icon ion-ios-locked"></i>
                    <label class="item item-input">
                      <input type="password" class="padding" name="password" placeholder="Password" ng-model="changePasswordForm.password" required="required" class="form-control">
                    </label>
                </div>
                <div class="item item-icon-left " >
                  <i class="icon ion-ios-locked"></i>
                    <label class="item item-input">
                      <input type="password" class="padding" name="password_confirmation"  placeholder="Password Confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control">
                    </label>
                </div>
                <div>
                  <br>
                     <button type="submit" class="button  button-energized btn">Update</button>
                </div>
            </form>
            <br>


      </div>
    </div>

    </ion-content>
</ion-view>
