<ion-view view-title="Account">
  <ion-header-bar>
    <h1 class="title">Login To E-Diwan</h1>
    <div class="buttons">
        <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px" ng-click="closeLogin()"></i>
    </div>
  </ion-header-bar>
  <ion-content class="back" >

<form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
  <div class="form-group">
    <label>email</label>
    <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>
</ion-content>
</ion-view>