<ion-view view-title="مصطلحات- Glossary" >
  <ion-search placeholder="Search" min-length="0" model="glossary" source="filter(str)"></ion-search>
  <ion-content has-bouncing="true" class="has-subheader padding back">
    <ion-list class="search-list ">
      <ion-item class="item clr" ng-repeat="term in glossary" ng-click="showWordDetail(term)">
      <i class="icon ion-bookmark" ng-if="term.bookmarked=='true'"></i>
        <div class="row">
          <div class="col">
            <div ng-switch="term.media_type">
                <div ng-switch-when="video">
                    <i class="icon ios-videocam"></i><br>
                    <i class="icon ion-ios-arrow-left"></i>

                </div>
                <div ng-switch-when="grammar">
                    <i class="icon ion-chatboxes"></i><br>
                    <i class="icon ion-ios-arrow-left"></i>
                </div>
                <div ng-switch-when="dictionary">
                    <i class="icon ion-document"></i><br>
                      <i class="icon ion-ios-arrow-left"></i>
                </div>
                <div ng-switch-when="image">
                    <i class="icon ion-image"></i><br>
                    <i class="icon ion-ios-arrow-left"></i>
                </div>
            </div>
          </div>


          <div class="col pull-right padding" dir="rtl">
            <span >{{term.word}}</span><br/>
            <span class="txtC">{{term.description.substring(0,50)}}..</span>

          </div>

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
