<ion-modal-view>
    <ion-header-bar>
          <h2 class="title" style="text-align:right" > مناقشة </h2>
          <div class="buttons button-right">
              <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px "ng-click="commentModal.hide()"></i>
          </div>
    </ion-header-bar>

    <ion-content class="back has-footer has-header" >
     <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="list card">

        <div ng-repeat="comment in comments | orderBy:'+':true track by $index">
        <div class="item item-avatar-right" >
          <img src="img/logo.png">
          <div class="pull-right">
            <h2>{{comment.user}}</h2>
            <p>{{comment.created_at | date :  "dd.MM.y h:mm a"}}</p>
          </div>
        </div>

          <div class="item item-body">
            <div class="pull-right">
              <p>{{comment.comment}}</p>
              <br>
              <!-- <p>
                <a href="#" class="subdued">  Reply <i class="icon ion-ios-undo"></i>.</a>
                <a href="#" class="subdued">  Delete <i class="icon ion-ios-trash"></i>.</a>
                <a href="#" class="subdued">  Like (2) <i class="icon ion-ios-heart"></i>.</a>
                <a href="#" class="subdued">  Dislike (0) <i class="icon ion-heart-broken"></i></a>

              </p> -->
            </div>
          </div>
          <hr>
        </div>
        
      </div>
    </ion-content>
    <ion-footer-bar  class="bar-energized">
            
          <input type="text" placeholder="   {{user.email}}" ng-model="comment.text" style="width:85%;margin:4px 4px 4px 4px " ng-disabled="!user.signedIn" >    
          <button class="button button-small ion-ios-paperplane " ng-click="addComment(comment)"></button>
        
    </ion-footer-bar>
</ion-modal-view>
