<ion-modal-view >
     <ion-header-bar>
          <h2 class="title" style="text-align:right" > التفاصيل </h2>
          <div class="buttons button-right">
              <i class="icon ion-close-circled" style="margin-top:6px; margin-right:4px "ng-click="detailModal.hide()"></i>
          </div>
    </ion-header-bar>

    <ion-content class="has-header" >
    
   <!--  <div class=" card">
      <div class="item item-divider color">
          <h2 class="text-right">{{lesson.poem.title}}</h2>
      </div>
      <div class="item item-body poem-text" >
        
          <div ng-repeat="line in lines">
            <span ng-repeat="word in line.splitted_text track by $index" >
              {{word}}
            </span>    <br /><br />        
            <div ng-repeat="line_ref in line.line_references " class="poem-detail">
              <div class="row" dir="ltr" lang="ar">                
                <div class="col text-right">
                  <p ng-bind-html="line_ref.content | replaceServerImageSrc" dir="rtl" lang="ar"></p>                  
                </div>
                <div class="col-1 text-right" dir="ltr" lang="ar">
                  : {{line_ref.reference_type_text}}
                  : {{line_ref.media.url}}
                </div>
              </div>
            </div>
            <br />
          </div>
        
      </div>
    </div>

  </ion-content>


    <ion-content> -->

    <ion-list class="">
      <div ng-repeat="line in lines" class="item-body poem-text">
        <ion-item class="item-stable" ng-click="toggleGroup(line.id)" ng-class="{active: isGroupShown(line.id)}">
            <i class="icon" ng-class="isGroupShown(line.id) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          <div class="pull-right">
            <span ng-repeat="word in line.splitted_text track by $index" >
              {{word}}
            </span> 
          </div>
        </ion-item>
        <ion-item class="item-accordion" ng-show="isGroupShown(line.id)">
          <div ng-repeat="line_ref in line.line_references " class="poem-detail">
            <div class="row">                
              <div class="col pull-right" >

                <audio id="audio-p" ng-if="line_ref.media.media.url != null && line_ref.reference_type == 4" ng-src="{{ENDPOINT.asset_api + line_ref.media.media.url | trusted}}" type="audio/mpeg" controls>                  
                </audio>                

                <video width="100%" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" 
                  ng-src="{{ENDPOINT.asset_api + line_ref.media.media.url | trusted}}" type="audio/mpeg" 
                  ng-if="line_ref.media.media.url != null && line_ref.reference_type == 6" >                
                </video>

                <img ng-src="{{ENDPOINT.asset_api + line_ref.media.media.url | trusted}}" width="100%" ng-if="line_ref.media.media.url != null && line_ref.reference_type == 5"/>

                <p ng-bind-html="line_ref.content | replaceServerImageSrc" dir="rtl" lang="ar"></p>
              </div>              
              <div class="col-1 ">
                : {{line_ref.reference_type_text}}                                                
              </div>
            </div>
          </div>
          <br />
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-modal-view>
