<ion-view view-title="الدروس - Lesson">
  <ion-content>
    <div class="list social-list " height="" lang="ar" dir="rtl">
      <div class="item" ng-repeat="item in items track by $index">
        <a class="item item-avatar-right item-icon-left item-text-wrap" ng-href="#/app/lessons/{{item.id}}"  >
          <img src="img/logo.png">
          <i class="icon ion-ios-arrow-back"></i>
          <div class="pull-right">
            <h2 class="text-right">
              {{item.title}}
              <span class="notify pull-right animated rubberBand" ng-style="{'background': 'blue'}">{{item.count}}</span>
            </h2>
            <div class="animated fadeIn text-right" >
              <div>{{item.poet.name}}</div>
              <div>{{item.poem.title}}</div>              
            </div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
