<ion-view view-title="{{lesson.name}}" class="back">
  <ion-content lang="ar" dir="rtl">
    <div class="list card">
      <div class="item item-avatar-right" >
          <img src="img/logo.png">
          <div class="pull-right">
            <h2>{{lesson.title}}</h2>
            <p>{{lesson.created_at | date : "dd.MM.y"}}</p>
            <div  ng-if="lesson.poem">
              <h2>{{lesson.poem.title}} </h2>
              <p>{{lesson.poet.name}} </p>
              <br />
              
            </div>
          </div>
      </div>
       <div class="item tabs tabs-secondary tabs-icon-left">
          <!-- <a class="tab-item " data-ink-color="#336699" data-ink-opacity="0.5">
              <i class="icon ion-thumbsup"></i> Like
          </a> -->
          <a class="tab-item" ng-click="openCommentModal(lesson.id)" data-ink-color="#336699" data-ink-opacity="0.5" ng-disabled="!user.signedIn">
              <i class="icon ion-chatbox"></i> مناقشة
          </a>
      </div>
    </div>
    <div class="list card " ng-if="lesson.poem ">
      <div class="item" >
          <div class="pull-right">
            <audio id="audio-p" ng-if="lesson.poem.audio.audio.url != null" ng-src="{{ENDPOINT.asset_api + lesson.poem.audio.audio.url | trusted}}" type="audio/mpeg" controls>
                Your browser does not support the audio element.
              </audio>
            
          </div>
      </div>
      <div class="item" >
        <div class=" item-body">
          <div class="pull-right poem-text" >
              <div ng-repeat="line in lines" >
               <br>
                 <span ng-repeat="word in line.splitted_text track by $index" >
                   <span ng-switch="(line.word_references|filter:{ word_indexes : (('00'+ $index ).slice(-2)) }).length">
                      <span ng-switch-when="0">{{word}}</span>
                      <span ng-switch-default class="balanced" ng-click="openWordModal($index , line.id, 1)"  data-tap-disabled="true" >{{word}}</span>
                   </span>                     
                </span>
                <br />                  
              </div>
          </div>
          
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
         
          <a class="tab-item" ng-click="openModalDetail()" data-ink-color="#336699" data-ink-opacity="0.5" ng-if="lesson.poem" >
              <i class="icon ion-document"></i> التفاصيل
          </a>
      </div>
    </div>
    <div class="list card " ng-if="lesson.poet != nil">
      <div class="item">
          <div class="pull-right">
            <h2>شاعر :</h2>
            <br>
            <audio id="audio-player" ng-if="lesson.poet.audio.media.url != null" ng-src="{{ENDPOINT.asset_api + lesson.poet.audio.media.url | trusted}}" type="audio/mpeg" controls>
              Your browser does not support the audio element.
            </audio>
          </div>
      </div>
      <div class="item item-body" dir="rtl" lang="ar">        
          <div ng-bind-html="poetContent" dir="rtl" lang="ar" style=" text-align: right;"></div>        
      </div>
    </div>

    <div  class="list card " ng-if="lesson.content.length > 0">
      <div class="item">
        <div class="pull-right">
            <h2>محتويات :</h2>      
        </div>
      </div>
      <div class="item item-body" >
          <div ng-bind-html="lesson.content | replaceServerImageSrc " dir="rtl" lang="ar" style=" text-align: right;"></div>
        </div>
        
    </div>

  </ion-content>
</ion-view>
