 

/*-===========================.dashboard-main-container =====================-*/
.dashboard-main-container {
  padding-top: 10px;
  background: white;
  text-align: center; }
  .dashboard-main-container h3 {
    color: #37474F; }
  .dashboard-main-container .avatar-conatainer {
    position: relative; }
    .dashboard-main-container .avatar-conatainer img {
      width: 125px;
      height: 125px;
      border-radius: 100%;
      border: 2px solid #eff4ff; }
    .dashboard-main-container .avatar-conatainer .badge {
      position: absolute;
      background: #1568ff;
      border: 4px solid white;
      padding: 14px 6px;
      border-radius: 100%;
      color: white;
      font-weight: bold;
      margin-left: -30px;
      top: 64px; }
    .dashboard-main-container .avatar-conatainer .badge-notify {
      position: absolute;
      margin-left: 100px;
      top: 14px; }
  .dashboard-main-container .slider-pager {
    bottom: initial;
    font-size: 10px; }
    .dashboard-main-container .slider-pager .slider-pager-page {
      color: #1568ff; }
      .dashboard-main-container .slider-pager .slider-pager-page.active {
        font-size: 14px; }
  .dashboard-main-container .box {
    padding-top: 20px;
    padding-bottom: 20px; }




/*-=========================== social-list  ==================================-*/
.social-list a.item {
  color: inherit;
  margin: 4px 6px;
  border-radius: 7px; }
  .social-list a.item.activated {
    border-color: white;
    background: white;
    border-width: 3px; }

/*====================== card-background-page */    
  .card-background-page .card {
    position: relative;
    text-align: center;
  }

  .card-background-page .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-background-page .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .text-right{
    text-align: right;
  }


  .pull-right{
    text-align: right;
    right: 20px;  float: right;
  }


.tab-body .tab-section{
  display: none;
}

.tab-body .active{
  display: block;
}
  

.search-list  .item{
  padding:0;
  padding-top:10px;
}
.search-list .row{
  border-style: solid;
  border-bottom: solid #888888 ;
  border-bottom-width: 0.1px;

}

.poem-detail .row{
  border-style: solid;
  border: solid #888888 ;
  border-width: 0.1px;
}

.camelize:first-letter {
    text-transform:capitalize;
}

.poem-text{
  text-align: center;
vertical-align: middle;

}


.my-list {

  list-style: none;
  list-style-type: disc;
  padding-left: 30px;
  text-align:justify;
}

.aboutus p{
  text-align:justify;
}

.ibflogo{
  height:44px;
  vertical-align:middle;
  margin-left: 20px;
}

body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

/*
 * https://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}